.navBar{display: flex; justify-content: space-evenly; height: 5rem; align-items: center;width: 40rem;}
a{text-decoration: none; color: #000; font-size: 1.15rem;}
a:hover{background: #ccc; height: 2rem; padding: 0.5rem;border-radius: 1.15rem;}