.card{border: 1px solid #eee;border-radius: 2rem;display: flex;flex-direction: column; justify-content: space-evenly;align-items: center;background:#eee; width: 20rem; height: 23rem; margin:2rem}
.card-image{width:70%;}
.card-title{font-size: 2rem; }