.information{display: flex; height: 15rem; flex-direction: column; justify-content: space-evenly; align-items: center;}
h2{font-size: 1.8rem ;}
.information-text{text-align: center; font-size: 1.5rem;}